 
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Student Portal</a>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user %>
      <li>
        <%= image_tag current_user.image, style:'height:50px; border-radius:50px;' %>
      </li>
      <li>
        <%= link_to current_user.full_name, edit_user_registration_path, class: 'text-primary' %>
      </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>


  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'Show All Exams', student_view_path(@exams), class: 'btn btn-primary' %>
    <%= link_to 'View My Exams', student_exams_path, class: 'btn btn-primary' %>

    <%= yield %>
  </div>
</body>
</html>
